h1 {
	text-align:center;
	font-family:Arial;
	border: 5px solid black;
	
}
table,td{
	border:5px solid black;
	border-collapse:collapse;
}
header{
    width:100%;
    height:100px;
    font-color:black;
    background-color:red;
    text-align:center;
    font-size:80px;
}	
footer{
	width:100%;
	height:80px;
	float:bottom;
	text-align:center;
	background-color:black
}
pre.footer{
	font-size:10px
	font-family:New Times Roman;
	color:white;
}