@import url('https://fonts.googleapis.com/css?family=Cinzel|EB+Garamond|Indie+Flower|Josefin+Sans|Oswald');

body{
    background:url("https://www.mybigskystrong.com/images/Montana1.jpg") no-repeat center center fixed; 
    
    background-size: cover;
    
    
}
#header{
    width: 100%;
    text-align: center;
    font-size: 100px;
    position: fixed;
    top: 0px;
    border-bottom: 1px solid black;
    background-color: white;
}

#nav_holder{
    width:100%;
    height: 200px;
    display: table;
    position: fixed;
    top:120px;
}
ul.nav{
    text-align: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
    background-color: white;
    padding-left: 200px;
    border: 1px solid black;
}
li.nav{
    display: inline-block
}
.nav_div{
    padding:20px;
    margin-right: 20px;
    background-color: rgba(255,255,255,.7);
    font-size: 20px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.nav_div:hover{
    background-color: rgba(0,0,0,.8);
    color: white;
    cursor: pointer;
}
#totl_nav_div{
    border-right: 1px solid black;
}

div.myNutritionSection{
    background: rgba(0,0,0,.8);
    border-radius: 20px;
    border: 2px solid white;
    margin-top: 200px;
}

h2.sectionTitle{
	text-align:center;
	color: white; 
	padding: 10px;
    font-family: 'Oswald',sans-serif;
    font-size: 200%;
    text-decoration: underline;
    margin: 0px;
}
p.sectionParagraph{
	color: white; 
	padding: 20px;
	margin: 0px;
    font-family: 'Indie Flower',sans-serif;
    font-size: 20px
   
}
h2.footer{
    margin: 0px;
    color: white;
    text-align: center;
}
img.comodo{
	float: right;
}
.myNutritionSection{
    margin-top: 300px
}
